<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form>
    <div align="center">
        <table>
            <h1> User registration</h1>
            <tr>
                <th> Firstname: </th>
                <td><input type="text" name="Firstname"></td>
            </tr>
            <tr>
                <th>Lastname</th>
                <td><input type="text" name="Lastname"></td>
            </tr>
            <tr>
                <th>Email</th>
                <td><input type="text" name="Email"> </td>
            </tr>
            <tr>
                <th>DOB:</th>
                <td><input type="date" name="DOB" style="width: 98%"></td>
            </tr>
            <tr>
                <th>Address</th>
                <td><input type="text" name="Address"</td>
            </tr>
            <tr>
                <th></th>
                <td><input type="submit" name="operation" value="signup"</td>
            </tr>
        </table>
    </div>
</form>
</body>
</html>